body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fcf8f3;
}

/* TAKIM KUTUSU */
.takim-kutu {
    max-width: 1000px;
    margin: 100px auto;
    padding: 25px;
    background: linear-gradient(135deg, #4b0082, #7b2cbf);
    color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

/* BAŞLIK */
.takim-kutu h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* LİSTE */
.takim-kutu ul {
    list-style: none;
    padding: 0;
}

.takim-kutu ul li {
    padding: 8px;
}

/* TABLO */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid white;
    padding: 10px;
}

table th {
    background-color: #ff2e2e;
}

/* VİDEO */
.ytvideo iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
    border: 5px solid white;
}

/* SOSYAL MEDYA */
.sm-kutu {
    margin-top: 40px;
}

.sosyal-medya-iconlar a {
    font-size: 30px;
    margin: 10px;
    color: white;
}

/* MOBİL */
@media (max-width: 768px) {

    .takim-kutu {
        margin: 80px 10px;
        padding: 15px;
    }

    .ytvideo iframe {
        height: 250px;
    }

    h1 {
        font-size: 24px;
    }
}